
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Du Dudu e Edu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }


    
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Du Dudu e Edu</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="http://127.0.0.1:8000/">Home</a></li>
        {% for categoria in categorias %}
        <li><a href="{% url 'categoria-detail' categoria.pk %}">{{ categoria.nome }}</a></li>
        {% endfor %}

        <li><a href="{% url 'login'%}">Login</a>
        </li>

      </ul><br>





<div class="input-group">
    <form action="{% url 'search' %}" method="get">
        <input name="q" type="text" placeholder="Pesquisa...">
        <input type="submit" value="Pesquisar">
      </form>
  
</div>
</div>
 

    {% block content %}
    {% endblock %}
