{% extends "blog/base.html" %}

{% block content %}
	
    <div class="col-sm-9">
            <h4><small>{{ object.nome }}</small></h4>
            <hr>
	{% for post in object.posts.all %}
        {% include "blog/post_card.html" %}
    {% endfor %}
    </div>
{% endblock %}

