{% extends "blog/base.html" %}

{% block content %}
      <div class="col-sm-9">

          <h2>{{ object.titulo }}</h2>
          <h5><span class="glyphicon glyphicon-time"></span> Postado por {{ object.autor }}, em: {{ object.data_post }}.</h5>
          <h5><span class="label label-danger">{{ object.categoria }}</span></h5><br>
          <center><img src="{{ object.banner.url }}" class="img-fluid"></center>
          <hr>
          <p>{{ object.texto|safe }}</p>
          <hr>
  
          <h4>Deixe seu comentário:</h4>
 
          <form method="POST" action="{% url 'comentario' object.id %}">   
              {% csrf_token %}
            <div class="form-group">
              <textarea class="form-control" rows="3" required name="texto"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Enviar</button>
          </form>
          <br><br>
          
          <p><span class="badge">S2</span> Comentários:</p><br>
          
          <div class="row">
            <div class="col-sm-2 text-center">
            </div>
            <div class="col-sm-10">
                {% for comentario in post.comentarios.all %}
                <h4>{{ comentario.autor }}  <small>{{ comentario.data_post }}</small></h4>
              <p>{{ comentario.texto }}</p>
              <hr>
              {% endfor %}
              <br>
            </div>
            
              </div>
            </div>
          </div>
        </div>
{% endblock %}
