{% include "blog/base.html" %}


    <div class="col-sm-9">
        <h4><small>Postagens Recentes</small></h4>
        <hr>
  {% for post in object_list  %}
    {% include "blog/post_card.html" %}
  {% endfor %}
      
              <br>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>

</body>
</html>

