      <h2>{{post.titulo}}</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Postado por {{post.autor}}, {{post.data_post}}.</h5>
      <h5><span class="label label-danger">{{post.categoria}}</span> <span class="label label-primary">Ipsum</span></h5><br>
      <p>{{post.descricao}}</p>
      <br>
      <a href="{% url 'post-detail' post.pk %}" ><button type="submit" class="btn btn-success">Ler mais</button></a>
      <br>
